
<div class="jumbotron jumbo-navy links">
   <div class="container">

      <div class="row">
         <div class="col-md-2">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/abstract-footer-logo.svg" width="140px">
         </div>
         <div class="col-md-6">
            <h4>Links</h4>
            <ul class="list-unstyled" style="display:inline-block">
               <li><a href="" target="_blank">ROOT</a></li>
               <li><a href="" target="_blank">RIO</a></li>
               <li><a href="" target="_blank">NSF S12</a></li>
               <li><a href="" target="_blank">RooStats</a></li>
            </ul>

            <ul class="list-unstyled" style="display:inline-block; margin-left: 20%">
               <li><a href="" target="_blank">GooFit</a></li>
               <li><a href="" target="_blank">RootPy</a></li>
               <li><a href="" target="_blank">AstroPy</a></li>
               <li><a href="" target="_blank">scikit-learn</a></li>
            </ul>
         </div>
         <div class="col-md-4">
            <h4>Contact</h4>
            <ul class="list-unstyled">
               {% for s in SOCIAL %}
               <li><a href="{{ s[1] }}" target="_blank">{{ s[0] }}</a></li>
               {% endfor %}

            </ul>
         </div>
      </div>
   </div>

</div>
