{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbo-blue">
    <div class="container">
        <h1>
            Advanced software plays a fundamental role
            in large scientific projects.
        </h1>

        <p>

            The primary goal of DIANA/HEP is to develop state-of-the-art software tools for experiments which acquire,
            reduce, and analyze petabytes of data.

            Improving performance, interoperability, and collaborative tools through modifications and additions to
            ROOT and other software packages broadly used by the community will allow users to more fully exploit the data
            being acquired at CERN's Large Hadron Collider (LHC) and other facilities.

            As part of the NSF's Software Infrastructure for Sustained Innovation (SI2) program, DIANA is concerned
            with the overarching goal of transforming innovations in research and education into sustained software
            resources that are an integral part of the cyberinfrastructure.
        </p>

    </div>
</div>

<div class="jumbotron jumbo-white">
    <div class="container" align="center">

        <div class="row">
            <div class="col-md-4 project-highlight">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/collaborate.svg" width="60%">

                <h4>Collaborative
                    Analyses</h4>

                <p>Establish infrastructure for a higher-level of collaborative analysis, building on the successful
                    patterns used for the Higgs boson discovery and enabling a deeper communication between the
                    theoretical community and the experimental community</p>
            </div>

            <div class="col-md-4 project-highlight">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/reproducible.svg" width="60%">

                <h4>Reproducible Analyses</h4>

                <p>Streamline efforts associated to reproducibility, analysis preservation, and data preservation by
                    making these native concepts in the tools</p>

            </div>

            <div class="col-md-4 project-highlight">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/interoperable.svg" width="60%">

                <h4>Interoperability</h4>

                <p>Improve the interoperability of HEP tools with the larger scientific software ecosystem,
                    incorporating best practices and algorithms from other disciplines into HEP</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 project-highlight">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/faster-processing.svg" width="60%">

                <h4>Faster
                    Processing</h4>

                <p>Increase the CPU and IO performance needed to reduce the iteration time so crucial to exploring new
                    ideas</p>

            </div>

            <div class="col-md-4 project-highlight">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/better-software.svg" width="60%">

                <h4>Better Software</h4>

                <p>Develop software to
                    effectively exploit emerging many- and multi-core hardware.
                    <br/>
                    Promote the concept of software as a research product.</p>
            </div>

            <div class="col-md-4 project-highlight">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/training.svg" width="60%">

                <h4>Training</h4>

                <p>Provide training for students in all of our core research topics.</p>
            </div>

        </div>
    </div>
</div>


    <section id="content" class="body">
        <h1 class="entry-title">{{ page.title }}</h1>
        {% import 'includes/translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
        {% if PDF_PROCESSOR %}
            <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
                get the pdf
            </a>
        {% endif %}
        <div class="entry-content">
            {{ page.content }}
            {% if page.comments == 'enabled' %}
                {% include 'includes/comments.html' %}
            {% endif %}
        </div>
    </section>



{% endblock %}
